.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  .nav {
    height: 100%;
  }
  .logo {
    height: 80%;
  }
  .MenuButton{
    background-color: white;
    border: none;
    outline: none;
    height: 80%;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.5em;
    @media (min-width: 500px){
      display: none;
    }
  }

}
