.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }
    &.Success {
        color: #5C9210;
    }

    &.Danger {
        color: #944317;
    }
    &:disabled {
      color: #ccc !important;
      cursor: not-allowed;
    }
    &.Small{
      font-size: .8em;
    }

}

.error {
  color: red;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
